
json\.h

\.vscode/

\.vs/

rdf_parser
.DS_Store

main\.cpp\.local

test\.cpp

clusterization

retrieve_size
Embedding/a.out

Shuffle/shuffle

K-means/k_means

K-means/main
Embedding/embedding
entities_to_triples_cluster/entities_to_triples_cluster
data/
Embedding/packages/
Embedding/x64/
Embedding_af/x64/

Local_file/
*.p7s

Embedding_af/packages
